<a href="https://colab.research.google.com/github/aldiworkpace/Learn-Phyton/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
angka1 = int(input('Masukan angka1 :'))
angka2 = int(input('Masukan angka2 :'))

penjumlahan = angka1 * angka2

print("Hasil Penjumlahan",penjumlahan)

Masukan angka1 :50
Masukan angka2 :6
Hasil Penjumlahan 300

In [ ]:
#formatting memanggil variable menggunakan oeprator %
#misal i= integer
#s= string

umur = 12

print('Halo Umur saya %i'%(umur))

Halo Umur saya 12

In [ ]:
var = 10
print(var)
print(id(var))

#id untuk memunculkan memory addres

var = 11
print(var)
print(id(var))

10
11654664
11
11654696

In [ ]:


#multiline menggunakan ("""") quote

baris_multi = """Halo Nama Saya aldi
pelajar di unversitas pamulang
Jurusan sistem informasi
Semester 1."""

print(baris_multi)

Halo Nama Saya aldi
pelajar di unversitas pamulang
Jurusan sistem informasi
Semester 1.

In [ ]:
x = 'Hello world'
print(x[3:])

#slicing pada string menggunakan (:) bisa digunakan pada array

lo world

In [ ]:
nama = input('Masukan Nama anda : ')

print("hallo Nama saya",nama)

#formated string
nama2 = 'Aldi aja'

print(f"Halo nama Saya {nama2}")

Masukan Nama anda : aldi
hallo Nama saya aldi
Halo nama Saya Aldi aja

In [ ]:
#mengambil list array selalu dimmulai dengan indeurutan angka 0
#apel=0 jeruk=1 nanas=2


buah = ['apel','jeruk','nanas']

print(buah[2])

#membuat list aray dengan tipe data yg berbeda

tipedata = [1, 'apel', False, 2.2]

# mengambil index ke 1 apel dengan tipe data string
print(type(tipedata[1]))

#mengambil index ke 1 yaitu apel
print(tipedata[1])

nanas
<class 'str'>
apel

In [ ]:
#mengubah isi list dalam array

listbuah = ['apel', 'nanas', 'jambu']
#mengubah buah nanas index ke 1 menjadi strawberry
listbuah[1] = 'strawberry'


print(listbuah)

['apel', 'strawberry', 'jambu']

In [ ]:
#set adalah kumpulan list tanpa urutan indexing

data = {1,1,2,2,3,4,5}
#akan eror karna set tidak bisa mengambil data
print(data(1))

TypeError: 'set' object is not callable

In [ ]:
#set bisa menghilangkan data duplikat
setdata = {1,1,2,3,4,4,5,6,7,8,7,9}
print(type(setdata))
print(setdata)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
#upper case dan lower case mengubah huruf besar dan kecil

kalimat = "I Like Drink So much water"
#uppercase
kalimat = kalimat.upper()
print("Contoh Pengguanaan upper : ",kalimat)

#lowercase
example = "NO ONE WILL HELP YOU"
example = example.lower()

print("Conntoh Penggunaan Lower : ",example)

Contoh Pengguanaan upper :  I LIKE DRINK SO MUCH WATER
Conntoh Penggunaan Lower :  no one will help you

In [26]:
#menghapus awalan karakter spasi dalam kalimat (lstrip) = left strip
#menghapus akhiran kalimat karakter spasi (rstrip) = right strip


Example1 = "       Patrick no using strip"
#no using strip
print("NO Using Strip : ",Example1)

#using left strip
Example2 = "        Patrick left strip"

print(" Using Left Strip : ",Example2.lstrip())

#using right strip = rstrip
Example3 = "Patrick Right strip      "

print("Using Right strip : ",Example3.rstrip())

#using strip delete sentences

Example4 = "Smartes Student Is A Patrick"

print("Using strip deleted Sentences : ",Example4.strip("Smartes Student Is"))

NO Using Strip :         Patrick no using strip
 Using Left Strip :  Patrick left strip
Using Right strip :  Patrick Right strip
Using strip deleted Sentences :  A Patrick