<a href="https://colab.research.google.com/github/aldiworkpace/Learn-Phyton/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
angka1 = int(input('Masukan angka1 :'))
angka2 = int(input('Masukan angka2 :'))

penjumlahan = angka1 * angka2

print("Hasil Penjumlahan",penjumlahan)

Masukan angka1 :50
Masukan angka2 :6
Hasil Penjumlahan 300

In [2]:
#formatting memanggil variable menggunakan oeprator %
#misal i= integer
#s= string

umur = 12

print('Halo Umur saya %i'%(umur))

Halo Umur saya 12

In [ ]:
var = 10
print(var)
print(id(var))

#id untuk memunculkan memory addres

var = 11
print(var)
print(id(var))

10
11654664
11
11654696

In [ ]:


#multiline menggunakan ("""") quote

baris_multi = """Halo Nama Saya aldi
pelajar di unversitas pamulang
Jurusan sistem informasi
Semester 1."""

print(baris_multi)

Halo Nama Saya aldi
pelajar di unversitas pamulang
Jurusan sistem informasi
Semester 1.

In [ ]:
x = 'Hello world'
print(x[3:])

#slicing pada string menggunakan (:) bisa digunakan pada array

lo world

In [ ]:
nama = input('Masukan Nama anda : ')

print("hallo Nama saya",nama)

#formated string
nama2 = 'Aldi aja'

print(f"Halo nama Saya {nama2}")

Masukan Nama anda : aldi
hallo Nama saya aldi
Halo nama Saya Aldi aja

In [13]:
#mengambil list array selalu dimmulai dengan indeurutan angka 0
#apel=0 jeruk=1 nanas=2


buah = ['apel','jeruk','nanas']

print(buah[2])

#membuat list aray dengan tipe data yg berbeda

tipedata = [1, 'apel', False, 2.2]

# mengambil index ke 1 apel dengan tipe data string
print(type(tipedata[1]))

#mengambil index ke 1 yaitu apel
print(tipedata[1])

nanas
<class 'str'>
apel