<a href="https://colab.research.google.com/github/aldiworkpace/Learn-Phyton/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
angka1 = int(input('Masukan angka1 :'))
angka2 = int(input('Masukan angka2 :'))

penjumlahan = angka1 * angka2

print("Hasil Penjumlahan",penjumlahan)

Masukan angka1 :50
Masukan angka2 :6
Hasil Penjumlahan 300

In [1]:
var = 10
print(var)
print(id(var))

#id untuk memunculkan memory addres

var = 11
print(var)
print(id(var))

10
11654664
11
11654696

In [8]:


#multiline menggunakan ("""") quote

baris_multi = """Halo Nama Saya aldi
pelajar di unversitas pamulang
Jurusan sistem informasi
Semester 1."""

print(baris_multi)

Halo Nama Saya aldi
pelajar di unversitas pamulang
Jurusan sistem informasi
Semester 1.